<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Navigation </title>
    <link rel="stylesheet" href="assets/css/style2.css">

</head>
<body>
<!--<h2> Navigation Menu[</h2>-->
<!--<p>-->
<!--  in this example , we use CSS to style-->
<!--  the list horizontally , to greate a navigation menu:-->
<!--</p>-->
<ul>
  <li>
    <a href="">Home</a>
  </li>
  <li>
    <a href="">About Us</a>
  </li>
  <li>
    <a href="">Contact</a>
  </li>
  <li>
    <a href="">Services</a>
  </li>
    <li>
        <a href="List.html">Our products</a>
    </li>
    <li>
        <a href=""> after Sale Services </a>
    </li>
</ul>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi at consectetur consequuntur corporis deserunt, dicta dolore esse expedita fugit harum ipsum maiores maxime minima nobis praesentium quaerat ullam veniam?</span><span>Assumenda atque, omnis! Blanditiis dolorum, error hic in laborum mollitia nemo obcaecati placeat quasi voluptatibus. Ab architecto, beatae consequuntur cupiditate deleniti harum magni
    reiciendis. Dignissimos eligendi illo nam non tempora.</span></p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam atque consectetur debitis, dignissimos dolorem earum error inventore nemo neque officia
            provident qui quis repellendus sapiente similique temporibus tenetur, voluptate.
        </p>
<pre>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur corporis dolor dolorem ducimus eos excepturi hic maxime
    nam pariatur placeat qui, ratione rem repudiandae rerum similique sunt ut veritatis.
</pre>
<pre>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores assumenda, atque consectetur consequatur cupiditate dolorem earum esse impedit minus natus
        nobis officiis placeat quasi quibusdam quod voluptas. Architecto, consequuntur?
    </p>
</pre>
<div class="pre">


</div>


</body>
</html>