<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Offer</title>
</head>
<body>
<h1> Real Estate Offers</h1>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa doloribus eius in quam, quod sit vero. Aliquid
    consequatur culpa cum dolor illum non, officia repellat rerum sed, ut voluptatibus!
</p>
<br>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi error ipsum neque vero! Beatae distinctio eius enim facere itaque molestiae
    mollitia quis reprehenderit repudiandae sed. Assumenda corporis eius quibusdam.</p>

</body>
</html>