<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Products </title>
</head>

<body>

<a href="{%  url 'home' %}">Home</a>
<a href="{% url  'about' %}">About</a>
<a href="{% url 'services' %}">Services</a>

<h1> Our Products </h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus asperiores, aspernatur beatae corporis debitis ea esse et harum impedit ipsum maxime officia omnis praesentium quidem totam ullam vel. Laboriosam!</span><span>Aliquid amet at, aut corporis deserunt dolores esse ex exercitationem maiores natus numquam officia, praesentium quis quod rem repudiandae
    sunt ullam voluptas! Deleniti ex fugiat harum incidunt natus quam, sunt?</span></p>

<h2 style="color: blue; font-size: 20px"> Our Products are the best in the market</h2>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto aut cumque cupiditate eaque enim explicabo hic laboriosam laborum, molestiae nemo non quaerat quo recusandae repellat repudiandae tenetur unde voluptatum?</span><span>Accusantium ad alias amet at atque consectetur culpa distinctio dolor eaque enim exercitationem iusto minima molestias mollitia, natus nihil numquam officiis
    omnis perspiciatis placeat possimus quibusdam quidem quis tenetur vitae.</span></p>

</body>

</html>