<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>

</head>
<body>
<a href="{%  url 'home' %}">Home</a>
<a href="{% url  'about' %}">About</a>
<a href=" {%  url 'products' %}">Products</a>

<h1> welcome to E-mobolis Training Institute</h1>

<p><span style="color: green;font-size: 20px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deserunt fugit molestias nihil non odio quia quod sunt vitae? Alias, cum debitis delectus dolores laboriosam nemo nostrum quasi ut voluptatibus!</span><span>Aliquam aspernatur earum facilis natus, nulla suscipit veritatis? Adipisci autem debitis deleniti earum excepturi incidunt ipsam labore laboriosam molestias mollitia, odio perferendis quaerat quis quisquam vitae. Atque dolor nihil voluptatem!</span><span>Alias consequuntur dolorem excepturi illo neque quae quaerat tempora ullam? Architecto autem commodi consequatur, consequuntur, dolorem eaque ipsam itaque libero modi
    nulla optio placeat provident quaerat quia veritatis vitae voluptate!</span></p>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam corporis cum eligendi et harum inventore maiores minus mollitia odit quidem reiciendis, reprehenderit sapiente sequi, sit totam unde velit voluptatibus.</span><span>Ab delectus incidunt necessitatibus perferendis rerum sint suscipit vero voluptatibus. Aliquid consectetur deserunt esse eveniet ex id illo in, laborum magni mollitia nemo officia placeat porro repellendus rerum saepe temporibus!</span><span>Assumenda atque cumque cupiditate dolores eaque error, id in, iure laboriosam nostrum placeat quaerat recusandae sequi, unde voluptatibus! Amet dignissimos,
    facere harum magnam modi porro quas quibusdam rem rerum sint?</span></p>

</body>
</html>