<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourism</title>
</head>
<body>

<h1> Tourism Industry </h1>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolore dolorem illum quibusdam. Aperiam asperiores, culpa cupiditate dicta doloribus esse, explicabo
    fugit inventore magni, quam recusandae repellendus! Distinctio mollitia, tempora.</p>
<br>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur doloremque doloribus iste, laborum officiis placeat provident vero? Accusamus aliquam
    beatae deserunt molestias nobis obcaecati officiis perferendis rerum soluta tenetur.</p>

</body>
</html>